<img [src]="imgSrc"/>

<div class="wrapper"    
    [style.padding-left.px]="gridConfig.paddingLeft"
    [style.padding-top.px]="gridConfig.paddingTop"
    [class.transparent]="gridConfig.transparent">
    <div class="ligne" *ngFor="let ligne of grid" [style.width.px]="gridConfig.taille*(grid[0].length+1)">
        <div class="case" *ngFor="let cel of ligne"
            [class.hidden]="cel"
            [style.width.px]="gridConfig.taille"
            [style.height.px]="gridConfig.taille"
            (click)="cel=!cel">

        </div>
    </div>
</div>

<app-map-menu [gridConfig]="gridConfig" [cartes]="cartes" (messageEvent)="receiveMessage($event)"></app-map-menu>