.wrapper {
    overflow : auto;
    position : absolute;
    top : 30px;
    left : 0;
}

.ligne {
    margin : 0;
    padding : 0;
    overflow : auto;
    white-space: nowrap;
}

.case {
    float: left;
    overflow : hidden;
    background : rgba(0, 0, 0, 1);
    box-sizing: border-box;
}

.transparent .case {
    background : rgba(0, 0, 0, 0.5);
    border:1px solid black;
}

.transparent .case.hidden {
    border:1px solid black;
}

.case.hidden, .transparent .case.hidden {
    background : rgba(0, 0, 0, 0);
}

app-map-menu {
    position : absolute;
    left : 10px;
    top : 50px;
    bottom : 10px; 
}

img {
    min-width : 100%;
}