label {
    display : block;
    padding : 3px;
}

input {
    width : 50px;
    text-align : center;
}

.wrapper {
    background : rgb(255, 224, 130, 0.9);
    padding : 10px; 
}

.mdi {
    font-size : 20px;
    position : absolute;
    top : 5px;
    right : 5px;
    color: #999999;
}

h3 {
    margin : 0;
}

div {
    position: relative;
    min-width : 30px;
    min-height : 30px;
}